extends ../layout

block content
 div.container.mt-5
  a.btn.btn-success(href='/bicicletas') Volver

  br
  br
  br
  
  h1.text-center Actualizando Bicicleta
  div
   .container
    .row
     .col-6.mx-auto
      form(action=`/bicicleta/update/${bici.id}` method='post')
      .input-group.mb-3
        label.col-sm-2.col-form-label(for='code') ID:
        input#id.form-control(type='text' name='code' value=bici.id disabled)
      .input-group.mb-3
        label.col-sm-2.col-form-label(for='color') Color:
        input#color.form-control(type='text' name='color' value=bici.color)
      .input-group.mb-3
        label.col-sm-2.col-form-label(for='modelo') Modelo:
        input#modelo.form-control(type='text' name='modelo' value=bici.modelo)
      .input-group.mb-3
        label.col-sm-2.col-form-label(for='lat') Latitud:
        input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0])
      .input-group.mb-3
        label.col-sm-2.col-form-label(for='lng') Longitud:
        input#lng.form-control(type='text' name='lng' value=bici.ubicacion[1])
      .input-group.mb-3        
        input.btn(type='submit' value='OK' class="btn btn-primary")